<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="main.css">
</head>

<body>
	<div class="container">
		<div class="row">
			{{#users}}
			<ul>
				<div class="col-3">
					<div class="robot">
						<img class="card-img-top" src="{{avatar}}" alt="Picture of {{name}}">
						<div class="card-block">
							<h4 class="card-title">
								<a href="./{{username}}">{{name}}</a></h4>
							{{#job}}
							<p class="card-text text-muted">
								{{ job }}, {{ company }}
							</p>
							{{/job}} {{^job}}
							<p class="card-text text-danger">Available for hire</p>
							{{/job}}
						</div>
					</div>
				</div>
			</ul>
			{{/users}}
		</div>
	</div>
</body>

</html>
