<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div class="container">
    {{#users}}
    <img src="{{avatar}}"> {{name}} {{ job }} {{ company }} 
    {{/users}}
  </div>
</body>

</html>
