<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div class="container">
    <div class="row">
      {{#users}}
      <ul>
        <div class="robot">
          <li><img class="card-img-top" src="{{avatar}}" alt="Picture of {{name}}"></li>
          <li><a href="./{{username}}">{{name}}</a></li>
          <li>{{job}}, {{company}}
              {{^users}}
                <p class="card-text text-danger">Available for hire</p>
              {{/users}}
          </li>
        </div>
      </ul>
      {{/users}}
    </div>

  </div>
</body>

</html>
