* {
  border: 0;
  box-sizing: border-box;
  outline: 0;
  padding: 0;
}

.container {
  align-items: center;
  border: .5px solid black;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.row {
  border: .5px solid red;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.robot {
  align-items: center;
     border: 1px solid black; 
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  /* width: 25%; */
}

.card-img-top {
  height: 125px;
  width: 170px;
}

.title_company {
  font-weight: 200;
}

ul {
  list-style-type: none;
}
